<li class="pure-menu-item">
  <a href="{% url 'crm.note.create' ticket.pk %}" class="pure-menu-link">
    <i class="fa fa-comment-o"></i>
    Add note
  </a>
</li>
{% if user.is_staff %}
  <li class="pure-menu-item">
    <a href="{% url 'invoice.time.create' ticket.pk %}" class="pure-menu-link">
      <i class="fa fa-clock-o"></i>
      Add time
    </a>
  </li>
{% endif %}
<li class="pure-menu-item">
  <a href="{% url 'invoice.time.ticket.list' ticket.pk %}" class="pure-menu-link">
    <i class="fa fa-clock-o"></i>
    View time
  </a>
</li>
{% if user.is_staff %}
  {% if not ticket.complete %}
    <li class="pure-menu-item">
      <a href="{% url 'crm.ticket.complete' ticket.pk %}" class="pure-menu-link">
        <i class="fa fa-check-square-o"></i>
        Complete ticket
      </a>
    </li>
  {% endif %}
{% endif %}
