{% extends 'crm/base.html' %}

{% block sub_title %}
  Contact
{% endblock sub_title %}

{% block sub_heading %}
  {{ contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'crm/_menu_contact_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>Name</td>
            <td>
              {% if user.is_staff %}
                <a href="{% url 'contact.update' contact.pk %}">
                  <i class="fa fa-edit"></i>
                  <strong>{{ contact.get_full_name }}</strong>
                </a>
              {% else %}
                {{ contact.get_full_name }}
              {% endif %}
            </td>
            <td></td>
          </tr>
          {% if contact.address %}
          <tr valign="top">
            <td>Address</td>
            <td>
              {{ contact.address|linebreaksbr }}
            </td>
            <td></td>
          </tr>
          {% endif %}
          <tr>
            <td>Contact</td>
            <td>
              {{ contact.phone }}
              {% if contact.mobile %}
                <strong>Mobile</strong>:
                {{ contact.mobile }}
              {% endif %}
              {% if contact.user.email %}
                <strong>Email</strong>:
                {{ contact.user.email|urlize }}
              {% endif %}
            </td>
            <td></td>
          </tr>
          {% if contact.website %}
          <tr>
            <td>Web</td>
            <td>{{ contact.website|urlize }}</td>
            <td></td>
          </tr>
          {% endif %}
          {% if contact.mail %}
          <tr>
            <td>email</td>
            <td>{{ contact.mail|urlize }}</td>
            <td></td>
          </tr>
          {% endif %}
          {% block contact_update %}
          {% endblock contact_update %}
          {% if ticket_list.count %}
          <tr>
            <td><strong>Tickets</strong></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
          {% for ticket in ticket_list %}
            <tr valign="top">
              <td>
                {{ ticket.id|stringformat:'04d' }}
              </td>
              <td>
                {% if ticket.complete %}
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    {{ ticket.title }}
                  </a>
                  <small>
                    Completed on
                    {{ ticket.complete|date:"d/m/Y" }}
                    by {{ ticket.complete_user.username }}
                  </small>
                </td>
                {% else %}
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    <strong>{{ ticket.title }}</strong>
                  </a>
                  {% if ticket.user_assigned %}
                    <small>{{ ticket.user_assigned }}</small>
                  {% endif %}
                  {% if ticket.description %}
                    <br />
                    {{ ticket.description|urlize|linebreaksbr }}
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if not ticket.complete %}
                  {% if ticket.priority.level %}
                    {{ ticket.priority.name }}
                  {% endif %}
                  {% if ticket.due %}
                    <small>due {{ ticket.due|date:'d/m/Y' }}</small>
                  {% endif %}
                  <small>created {{ ticket.created|date:'d/m/Y' }}</small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'crm/_menu_contact_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
