{% extends "crm/base.html" %}

{% block sub_title %}
  Contact
{% endblock sub_title %}

{% block sub_heading %}
  {{ contact.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>Contact</td>
            <td>
              {% if user.is_staff %}
              <a href="{% url "crm.contact.update" contact.slug %}">
                <i class="icon-edit"></i>
                <strong>{{ contact.name }}</strong>
              </a>
              {% else %}
                {{ contact.name }}
              {% endif %}
            </td>
          </tr>
          <tr valign="top">
            <td>Address</td>
            <td>
              {{ contact.address|linebreaksbr }}
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><strong>{{ contact.phone }}</strong></td>
          </tr>
          <tr>
            <td>Web</td>
            <td>{{ contact.url|urlize }}</td>
          </tr>
          <tr>
            <td>email</td>
            <td>{{ contact.mail|urlize }}</td>
          </tr>
          {% if contact.ticket_set.all %}
          <tr>
            <td><strong>Tickets</strong></td>
            <td></td>
          </tr>
          {% endif %}
          {% for ticket in contact.ticket_set.all %}
            <tr valign="top">
              <td>{{ ticket.id }}</td>
              <td>
                {% if ticket.complete %}
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    {{ ticket.title }}
                  </a>
                  <small>
                    Completed on
                    {{ ticket.complete|date:"d/m/Y" }}
                    by {{ ticket.complete_user.username }}
                  </small>
                </td>
                {% else %}
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    <strong>{{ ticket.title }}</strong>
                  </a>
                  {% if ticket.description %}
                    <br />
                    {{ ticket.description|linebreaksbr }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url "crm.ticket.create" contact.slug %}">
              <i class="icon-ticket"></i>
              New ticket
            </a>
          </li>
          <li>
            <a href="{% url "invoice.contact.list" contact.slug %}">
              <i class="icon-gbp"></i>
              Invoices
            </a>
          </li>
          <li>
            <a href="{% url "invoice.time.contact.list" contact.slug %}">
              <i class="icon-time"></i>
              Time records
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
