{% extends "crm/base.html" %}

{% block sub_title %}
  Note
{% endblock sub_title %}

{% block sub_heading %}
  Note
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <p>
        Note for ticket
        <a href="{% url 'crm.ticket.detail' ticket.pk %}">
          {{ ticket.pk }}, <strong>{{ ticket.name }}</strong>
        </a>
        contact
        <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
          {{ticket.contact.name }}
        </a>
      </p>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
