{% extends "crm/base.html" %}

{% block sub_title %}
  Note for ticket {{ ticket.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Note for ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <a href="{% url 'crm.ticket.detail' ticket.pk %}">
        <strong>{{ ticket.name }}</strong>
      </a>
      <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
        {{ticket.contact.name }}
      </a>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
