{% extends "crm/base.html" %}

{% block sub_title %}
  Ticket
{% endblock sub_title %}

{% block sub_heading %}
  Ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1">
        <table class="pure-table pure-table-bordered">
          <tbody>
            <tr>
              <td>Ticket</td>
              <td>
                <a class="pure-button" href="{% url "crm.ticket.update" ticket.pk %}">
                  <i class="icon-edit"></i>
                  Edit
                </a>
                <strong>{{ ticket.name }}</strong>
              </td>
            </tr>
            <tr>
              <td>Priority</td>
              <td>
                <strong>{{ ticket.priority.name }}</strong>
                {% if ticket.due %}
                  by <strong>{{ ticket.due|date:"d/m/Y" }}</strong>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Created</td>
              <td>
                <strong>{{ ticket.user.username }}</strong>
                at
                {{ ticket.modified|date:"H:i" }}
                on
                {{ ticket.modified|date:"d/m/Y" }}
              </td>
            </tr>
            <tr valign="top">
              <td>Contact</td>
              <td>
                <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
                  <strong>{{ ticket.contact.name }}</strong>
                </a>
                <br />
                {{ ticket.contact.address|linebreaksbr }}
              </td>
            </tr>
            {% if ticket.contact.mail %}
            <tr valign="top">
              <td>email</td>
              <td>{{ ticket.contact.mail|urlize }}</td>
            </tr>
            {% endif %}
            {% if ticket.contact.phone %}
            <tr valign="top">
              <td>Phone</td>
              <td>{{ ticket.contact.phone }}</td>
            </tr>
            {% endif %}
            {% if ticket.description %}
              <tr valign="top">
                <td>Description</td>
                <td>{{ ticket.description|linebreaksbr }}</td>
              </tr>
            {% endif %}
            <tr valign="top">
              <td><strong>Notes</strong></td>
              <td>
                <a class="pure-button" href="{% url "crm.note.create" ticket.pk %}">
                  <i class="icon-comment"></i>
                  Add note...
                </a>
              </td>
            </tr>
            {% for note in ticket.note_set.all %}
              <tr valign="top">
                <td>
                </td>
                <td>
                  <strong>{{ note.user.username }}</strong>
                  at
                  {{ note.modified|date:"H:i" }}
                  on
                  {{ note.modified|date:"d/m/y" }}
                  <br />
                  {{ note.description|linebreaksbr }}
                  {% if note.user == user %}
                    <br />
                    <a class="pure-button" href="{% url "crm.note.update" note.pk %}">
                      <i class="icon-edit"></i>
                      Edit
                    </a>
                  {% endif %}
              </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
