{% extends "crm/base.html" %}

{% block sub_title %}
  Tickets
{% endblock sub_title %}

{% block sub_heading %}
  Tickets
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            {% if user.is_staff %}
              <th>Contact</th>
            {% endif %}
            <th>Ticket</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in ticket_list %}
            <tr valign="top">
              {% if user.is_staff %}
                <td>
                  <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
                    {{ ticket.contact.name }}
                  </a>
                </td>
              {% endif %}
              <td>
                <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                  <strong>{{ ticket.title }}</strong>
                </a>
                <small>
                  created {{ ticket.created|date:"d/m/Y" }}
                  by {{ ticket.user.username }}
                </small>
                {% if ticket.description %}
                  <br />
                  {{ ticket.description|linebreaksbr|urlize }}
                {% endif %}
              </td>
              <td>
                {% if ticket.priority.level %}
                  {{ ticket.priority.name }}
                {% endif %}
                {% if ticket.due %}
                  <small>due {{ ticket.due|date:"d/m/Y" }}</small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_staff %}
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
          <ul>
            <li>
              <a href="{% url "crm.contact.list" %}">
                <i class="icon-user"></i>
                Contacts
              </a>
            </li>
            <li>
              <a href="{% url "invoice.list" %}">
                <i class="icon-gbp"></i>
                Invoices
              </a>
            </li>
            <li>
              <a href="{% url "invoice.time" %}">
                <i class="icon-time"></i>
                Time Records
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
