{% extends 'crm/base.html' %}

{% block sub_title %}
  Ticket
{% endblock sub_title %}

{% block sub_heading %}
  Ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'crm/_menu_ticket_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <div class="r-box">
        <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
          <strong>{{ ticket.contact.name }}</strong>
        </a>
        <small>
          {{ ticket.contact.address }}
        </small>
        <br />
        <br />
        <a href="{% url "crm.ticket.update" ticket.pk %}">
          <i class="fa fa-edit"></i>
          {{ ticket.pk }}
          <strong>{{ ticket.title }}</strong>
        </a>
        <br />
        {% if ticket.description %}
          <br>
          {{ ticket.description|urlize|linebreaksbr }}
          <br>
          <br>
        {% else %}
          <br>
        {% endif %}
        {% for note in ticket.notes %}
          <div class="crm-note">
            {% if note.user == user and note.modified_today %}
              <a href="{% url 'crm.note.update' note.pk %}">
                <i class="fa fa-edit"></i>
                {{ note.created|date:'d/m/Y' }}
                <strong>{{ note.title }}</strong>
              </a>
            {% else %}
              {{ note.created|date:'d/m/Y' }}
              <strong>{{ note.title }}</strong>
            {% endif %}
            <small>
              {{ note.created|date:'H:i' }}
              {{ note.user.username }}
            </small>
            {% if note.description %}
              <br>
              {{ note.description|urlize|linebreaksbr }}
            {% endif %}
            <br>
            <br>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <table class="pure-table pure-table-bordered">
        <tbody>
          {% if ticket.priority.level or ticket.due %}
            <tr>
              <td>Priority</td>
              <td>
                {% if ticket.priority.level %}
                  <strong>{{ ticket.priority.name }}</strong>
                {% endif %}
                {% if ticket.due %}
                  <small>by {{ ticket.due|date:"d/m/Y" }}</small>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          <tr valign="top">
            <td>User</td>
            <td>
              {% if ticket.user_assigned %}
                <strong>{{ ticket.user_assigned }}</strong>
                <br>
              {% endif %}
              <small>
                Created
                {{ ticket.created|date:"d/m/Y H:i" }}
                by
                {{ ticket.user.username }}
              </small>
            </td>
          </tr>
          {% if ticket.complete %}
            <tr>
              <td><strong>Complete</strong></td>
              <td>
                {{ ticket.complete|date:"d/m/Y H:i" }}
                <small>by {{ ticket.complete_user.username }}</small>
              </td>
            </tr>
          {% endif %}
          {% if ticket.contact.mail %}
            <tr valign="top">
              <td>email</td>
              <td>{{ ticket.contact.mail|urlize }}</td>
            </tr>
          {% endif %}
          {% if ticket.contact.phone %}
            <tr valign="top">
              <td>Phone</td>
              <td>{{ ticket.contact.phone }}</td>
            </tr>
          {% endif %}
          {% for item in quick %}
            <tr valign="top">
              <td colspan="2">
                <form action="." method="post" class="pure-form">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                  {% endif %}
                  <small>
                    <button type="submit" name="quick" value="{{ item.pk }}" class="pure-button">
                      {% if item.chargeable %}
                        <i class="fa fa-gbp"></i>
                      {% else %}
                        <i class="fa fa-gift"></i>
                      {% endif %}
                      {{ item.description }}
                      {% if item.chargeable %}
                        (charge)
                      {% else %}
                        (no-charge)
                      {% endif %}
                    </button>
                  </small>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <small>
        {% for item in ticket.time_records %}
          <div class="crm-note">
            {% if item.is_complete %}
              {{ item.date_started|date:'d/m/Y' }}
              {% if item.billable %}
                <i class="fa fa-gbp"></i>
              {% else %}
                <i class="fa fa-gift"></i>
              {% endif %}
            {% else %}
              <i class="fa fa-clock-o"></i>
            {% endif %}
            {{ item.title }}
            {% if item.time_code %}
              ({{ item.time_code.description }})
            {% endif %}
            {% if item.is_complete %}
              ({{ item.delta_as_string }})
            {% else %}
              (started at {{ item.start_time|date:'H:i' }})
              {% if item.billable %}
                <i class="fa fa-gbp"></i>
              {% else %}
                <i class="fa fa-gift"></i>
              {% endif %}
            {% endif %}
            {% if not user == item.user %}
              (<strong>{{ item.user.username }}</strong>)
            {% endif %}
            <br>
          </div>
        {% endfor %}
      </small>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'crm/_menu_ticket_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
