{% extends 'crm/base.html' %}

{% block sub_title %}
  {% if is_home %}
    My Tickets
  {% else %}
    All Tickets
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if is_home %}
    My Tickets
  {% else %}
    All Tickets
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'crm/_menu_item_ticket_home.html' %}
          {% include 'base/_paginate.html' %}
          {% if user.is_staff %}
            {% include 'crm/_menu_ticket.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            {% if user.is_staff %}
              <th>Contact</th>
            {% endif %}
            <th>Ticket</th>
            {% if not is_home %}
              <th>User</th>
            {% endif %}
            <th>Due</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in ticket_list %}
            <tr valign="top">
              {% if user.is_staff %}
                <td>
                  <a href="{% url 'contact.detail' ticket.contact.user.username %}">
                    {{ ticket.contact.full_name }}
                  </a>
                </td>
              {% endif %}
              <td>
                <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                  {{ ticket.title }}
                </a>
              </td>
              {% if not is_home %}
                <td>
                    {% if ticket.user_assigned %}
                      <small>{{ ticket.user_assigned }}</small>
                    {% endif %}
                </td>
              {% endif %}
              <td>
                {% if ticket.due %}
                  <small>{{ ticket.due|date:"d/m/Y" }}</small>
                {% endif %}
              </td>
              <td>
                {% if ticket.priority.level %}
                  {{ ticket.priority.name }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% if user.is_staff %}
            {% include 'crm/_menu_ticket.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
