{% extends "crm/base.html" %}

{% block sub_title %}
  Tickets
{% endblock sub_title %}

{% block sub_heading %}
  Tickets
{% endblock sub_heading %}

{% block content %}
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Ticket</th>
              <th>Priority</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in ticket_list %}
              <tr valign="top">
                <td>{{ ticket.id }}</td>
                <td>
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    <strong>{{ ticket.name }}</strong>
                  </a>
                  created {{ ticket.created|date:"d/m/Y" }}
                  by {{ ticket.user.username }}
                  <br />
                  {{ ticket.description|linebreaksbr }}
                </td>
                <td>
                  {{ ticket.priority.name }}
                  {% if ticket.due %}
                    <br />
                    due
                    {{ ticket.due|date:"d/m/Y" }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
