{% extends "crm/base.html" %}

{% block sub_title %}
  Ticket
{% endblock sub_title %}

{% block sub_heading %}
  Ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>Ticket {{ ticket.pk }}</td>
            <td>
              <a href="{% url "crm.ticket.update" ticket.pk %}">
                <i class="icon-edit"></i>
                <strong>{{ ticket.title }}</strong>
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>Contact</td>
            <td>
              <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
                <strong>{{ ticket.contact.name }}</strong>
              </a>
              <br />
              {{ ticket.contact.address|linebreaksbr }}
            </td>
          </tr>
          {% if ticket.priority.level or ticket.due %}
            <tr>
              <td>Priority</td>
              <td>
                {% if ticket.priority.level %}
                  <strong>{{ ticket.priority.name }}</strong>
                {% endif %}
                {% if ticket.due %}
                  <small>by {{ ticket.due|date:"d/m/Y" }}</small>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <td>Created</td>
            <td>
              {{ ticket.modified|date:"d/m/Y H:i" }}
              <strong>{{ ticket.user.username }}</strong>
            </td>
          </tr>
          {% if ticket.complete %}
            <tr>
              <td><strong>Complete</strong></td>
              <td>
                {{ ticket.complete|date:"d/m/Y H:i" }}
                <small>by {{ ticket.complete_user.username }}</small>
              </td>
            </tr>
          {% endif %}
          {% if ticket.contact.mail %}
          <tr valign="top">
            <td>email</td>
            <td>{{ ticket.contact.mail|urlize }}</td>
          </tr>
          {% endif %}
          {% if ticket.contact.phone %}
          <tr valign="top">
            <td>Phone</td>
            <td>{{ ticket.contact.phone }}</td>
          </tr>
          {% endif %}
          {% if ticket.description %}
            <tr valign="top">
              <td>Description</td>
              <td>{{ ticket.description|urlize|linebreaksbr }}</td>
            </tr>
          {% endif %}
          {% if ticket.note_set.all %}
            <tr valign="top">
              <td><strong>Notes</strong></td>
              <td></td>
            </tr>
          {% endif %}
          {% for note in ticket.note_set.all %}
            <tr valign="top">
              <td>
                {{ note.user.username }}
              </td>
              <td>
                {% if note.user == user and note.modified_today %}
                  <a href="{% url "crm.note.update" note.pk %}">
                    <i class="icon-edit"></i>
                    <strong>{{ note.title }}</strong>
                  </a>
                {% else %}
                  <strong>{{ note.title }}</strong>
                {% endif %}
                <small>{{ note.created|date:"d/m/y H:i" }}</small>
                {% if note.description %}
                  <br />
                  {{ note.description|urlize|linebreaksbr }}
                {% endif %}
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url "crm.note.create" ticket.pk %}">
              <i class="icon-comment"></i>
              Add note
            </a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="{% url "invoice.time.create" ticket.pk %}">
                <i class="icon-time"></i>
                Add time
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{% url "invoice.time.ticket.list" ticket.pk %}">
              <i class="icon-time"></i>
              View time
            </a>
          </li>
          {% if user.is_staff %}
            {% if not ticket.complete %}
              <li>
                <a href="{% url "crm.ticket.complete" ticket.pk %}">
                  <i class="icon-check"></i>
                  Complete ticket
                </a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
