{% extends 'crm/base.html' %}

{% block sub_title %}
  Ticket {{ object.pk }} for {{ contact.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Ticket
  {% else %}
    Create new ticket
  {% endif %}
  {% if object %}
    {{ object.pk }}
  {% endif %}
  for {{ contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend=contact.get_full_name %}
    </div>
  </div>
{% endblock content %}
