{% extends 'contact/base.html' %}

{% block sub_title %}
  Contact
{% endblock sub_title %}

{% block sub_heading %}
  {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td>Contact</td>
            <td>
              {% if user.is_staff %}
                <a href="{% url 'contact.update' contact.user.username %}">
                  <i class="fa fa-edit"></i>
                  <strong>{{ contact.full_name }}</strong>
                </a>
              {% else %}
                {{ contact.full_name }}
              {% endif %}
            </td>
            <td></td>
          </tr>
          {% if contact.address %}
          <tr valign="top">
            <td>Address</td>
            <td>
              {{ contact.address|linebreaksbr }}
            </td>
            <td></td>
          </tr>
          {% endif %}
          {% if contact.phone %}
          <tr>
            <td>Phone</td>
            <td><strong>{{ contact.phone }}</strong></td>
            <td></td>
          </tr>
          {% endif %}
          {% if contact.url %}
          <tr>
            <td>Web</td>
            <td>{{ contact.url|urlize }}</td>
            <td></td>
          </tr>
          {% endif %}
          {% if contact.mail %}
          <tr>
            <td>email</td>
            <td>{{ contact.mail|urlize }}</td>
            <td></td>
          </tr>
          {% endif %}
          <tr>
            <td>Industry</td>
            <td>
              <a href="{% url 'crm.contact.update' crm_contact.pk %}">
                <i class="fa fa-edit"></i>
                {% if crm_contact.industry %}
                  {{ crm_contact.industry.name }}
                {% endif %}
              </a>
            </td>
            <td>
          </td>
          </tr>
          <tr>
            <td>Hourly Rate</td>
            <td>
              <a href="{% url 'invoice.contact.update' invoice_contact.pk %}">
                <i class="fa fa-edit"></i>
                {{ invoice_contact.hourly_rate }}
              </a>
            </td>
            <td>
            </td>
          </tr>
          {% if contact.ticket_set.all %}
          <tr>
            <td><strong>Tickets</strong></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
          {% for ticket in contact.ticket_set.all %}
            <tr valign="top">
              <td>{{ ticket.id }}</td>
              <td>
                {% if ticket.complete %}
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    {{ ticket.title }}
                  </a>
                  <small>
                    Completed on
                    {{ ticket.complete|date:"d/m/Y" }}
                    by {{ ticket.complete_user.username }}
                  </small>
                </td>
                {% else %}
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    <strong>{{ ticket.title }}</strong>
                  </a>
                  {% if ticket.user_assigned %}
                    <small>{{ ticket.user_assigned }}</small>
                  {% endif %}
                  {% if ticket.description %}
                    <br />
                    {{ ticket.description|urlize|linebreaksbr }}
                  {% endif %}
                {% endif %}
              </td>
              <td>
                {% if not ticket.complete %}
                  {% if ticket.priority.level %}
                    {{ ticket.priority.name }}
                  {% endif %}
                  {% if ticket.due %}
                    <small>due {{ ticket.due|date:"d/m/Y" }}</small>
                  {% endif %}
                  <small>created {{ ticket.created|date:"d/m/Y" }}</small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
