{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
  CRM
{% endblock title %}

{% block heading %}
  CRM
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  <li class="pure-menu-item">
    <a href="{% url 'crm.ticket.home' %}" class="pure-menu-link">CRM</a>
  </li>
  <li class="pure-menu-item">
    <a href="{% url 'admin:index' %}" class="pure-menu-link">Admin</a>
  </li>
  {{ block.super }}
{% endblock menu %}

{% block footer %}
{% endblock footer %}
